:root {
    --primary-color: white;
    --secondary-color: rgb(70 144 175);
    --label-color: #ffffff;
    --input-color: rgb(255, 255, 255);
    --btn-color: #ffc589;
}

body {
    margin: 0;
    line-height: inherit;
    overflow: hidden;
    background: var(--secondary-color);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.main-container {
    /* background-color: black; */

}

.select-div {
    width: 300px;
    display: flex;
    border-radius: 1rem;
}

.select-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80px;
    border: 1px solid #ccc;
    padding: 4px 7px;
    margin: 2rem;
    cursor: pointer;
    border-radius: 1rem;
    background: var(--primary-color);
    border: none;
    transition: ease-in-out;
    padding: 10px;
    box-shadow: 5px 5px 15px #333333;
}

.select-label:hover {
    background: linear-gradient(90deg, #fffcf7 0%, rgb(233, 245, 255) 100%);
    border: none;
    transition: ease-in-out;
}

.select-text {
    display: flex;
    color: var(--btn-color);
    font-size: 23px;
    margin-top: 5px;
}

input[type="file"] {
    display: none;
}


.input-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: black; */
}

.input-container label {
    color: var(--label-color);
    padding: 5px 0;
}

.input-container input {
    height: 3rem;
    outline: none;
    padding: 0 1rem;
    border-radius: 12px;
    border: none;
    background: var(--input-color);
    color: var(--secondary-color);
}

.input-container input::placeholder {
    color: var(--secondary-color);
}

.btn-container {
    margin-top: 2rem;
}

.btn {
    height: 40px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    background: var(--btn-color);
}

.btn:hover {
    height: 40px;
    border-radius: 12px;
    border: none;
    color: var(--btn-color);
    cursor: pointer;
    background: var(--primary-color);
}

.file-text {
    color: var(--label-color);
}